<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{getIndex}">KC7Q4K</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" th:href="@{foodList}">Foods</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" th:href="@{employeeList}">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" th:href="@{departmentList}">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" th:href="@{/logout}">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>