<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add employee</title>
  <link href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.13.4/datatables.min.css"
        rel="stylesheet"/>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>
</head>
<style>
  .error{
    color:red;
  }
</style>
<body>
<div class="container">
  <h3>Add employee</h3>
  <hr>
  <form th:action="@{saveEmployee}" th:object="${employee}" method="post" id="add-employee" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">

    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}" placeholder="name"  class="form-control col-4 mb-4">
    <p th:if="${#fields.hasErrors('name')}" th:errorsclass="error" th:errors="*{name}">Invalid name</p>

    <label for="dob">Birthdate</label>
    <input type="date" id="dob" th:field="*{dob}" class="form-control col-4 mb-4">
    <p th:if="${#fields.hasErrors('dob')}" th:errorsclass="error" th:errors="*{dob}">Invalid date</p>

    <label for="title">Title</label>
    <input type="text" id="title" th:field="*{title}" placeholder="Title" class="form-control col-4 mb-4">
    <p th:if="${#fields.hasErrors('title')}" th:errorsclass="error" th:errors="*{title}">Invalid title</p>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="department">Department</label>
      <div class="col-sm-9">
        <select th:field="*{department}" id="department">
          <option th:each="department: ${departments}" th:value="${department.getDepartmentId()}" th:text="${department.getDepartmentName()}"></option>
        </select>
      </div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Save</button>

  </form>
  <a th:href="@{/employeeList}">Back to list</a>
</div>
</body>
</html>