<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add food item</title>
    <link href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.13.4/datatables.min.css"
        rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="../JS/validation-food.js">
    </script>
</head>
<style>
    .error{
        color:red;
    }
</style>
<body>
  <div class="container">
      <h3>Add food item</h3>
      <hr>
    <form th:action="@{saveFood}" th:object="${food}" method="post" id="add-food" enctype="multipart/form-data">
      <input type="hidden" th:field="*{id}">

        <label for="name">Name</label>
      <input type="text" id="name" th:field="*{name}" placeholder="name"  class="form-control col-4 mb-4">
        <p th:if="${#fields.hasErrors('name')}" th:errorsclass="error" th:errors="*{name}">Invalid name</p>

        <label for="weight">Weight</label>
      <input type="text" th:field="*{weight}" placeholder="grams" class="form-control col-4 mb-4" id="weight">
        <p th:if="${#fields.hasErrors('weight')}" th:errorsclass="error" th:errors="*{weight}">Invalid weight</p>

        <label for="price">Price</label>
        <input type="text" id="price" th:field="*{price}" placeholder="huf" class="form-control col-4 mb-4">
        <p th:if="${#fields.hasErrors('price')}" th:errorsclass="error" th:errors="*{price}">Invalid price</p>

        <label for="description">Description</label>
        <input type="text" id="description" th:field="*{description}" placeholder="optional" class="form-control col-4 mb-4">
        <label for="expiration">Expiration date</label>

        <input type="date" id="expiration" th:field="*{expiration}" class="form-control col-4 mb-4">
        <p th:if="${#fields.hasErrors('expiration')}" th:errorsclass="error" th:errors="*{expiration}">Invalid date</p>

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
      <a th:href="@{/foodList}">Back to list</a>
  </div>
</body>
</html>