<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food list</title>
    <link href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.13.4/datatables.min.css"
        rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>

</head>
<body>
  <div th:replace="fragments/main-header :: header"></div>

  <div class="container">
    <h3 class="h3 mt-4">Food items</h3>
    <hr/>
    <a th:href="@{/addFood}" class="btn btn-primary mb-4 mt-1">Add Food</a>
    <div th:if="${foods.size()!=0}">
      <table class="table table-striped" id="food-table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Weight in grams</th>
          <th>Description</th>
          <th>Price in huf</th>
          <th>Expiration date</th>
          <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="food: ${foods}">
          <td th:text="${food.id}"/>
          <td th:text="${#strings.capitalize(food.name)}"/>
          <td th:text="${food.weight}"/>
          <td th:text="${food.description}"/>
          <td th:text="${food.price}"/>
          <td th:text="${food.expiration}"/>
          <td>
            <a th:href="@{/updateFood(foodId=${food.id})}" class="btn btn-info">Update</a>
            <a th:href="@{/deleteFood(foodId=${food.id})}" class="btn btn-danger ml-1">Remove</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:unless="${foods.size()>0}">
      <span>No food items in directory</span>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>
  <script>
    $(document).ready(function (){
      $("food-table").DataTable();
    })
  </script>
  <div th:replace="fragments/footer :: footer"></div>
</body>
</html>